@font-face
  font-family myChess
  src url(../fonts/CHEQ_TT.TTF)

.body
  margin 0
  padding 0

.chessCell
  display inline-block
  position relative
  width 80px
  height 80px
  line-height 80px
  text-align center
  vertical-align middle
  margin 2px
  font-family myChess
  font-size 58px
  border 5px solid black

.chessBoarder
  display inline-block
  width 80px
  height 20px
  margin 2px
  border 5px solid black
  text-align center
  font-weight 700
  :first-child
    margin-left 25px

.active
  border 5px solid red
  font-size 70px

.info
  text-transform uppercase
  font-size 20px
  font-weight 700

.available
  border 5px solid green

.wrapper
  display inline-block
  margin-left 20px

.button
  width 80px
  border-radius 5px
  margin 15px

.header
  margin 15px
  padding 5px
  width 80px
  min-height 25px
  background-color #dddddd
  text-align center

.chessBox
  display inline-block
  margin 2px
  width 20px
  height 20px
  background-color #999999
  text-align center
  vertical-align middle
  font-family myChess